/* style file by Ben C.
=============================
00: css varibale
01: color
02: Layout
03: Typography
=============================
*/

/* 00 css variable */
:root{
    --body-color: hsl(10,50%,25%);
    --page-color: hsla(68, 39%, 72%, 1);
    --sidebar-color: hsla(72, 46%, 69%, 1);
    /** font color **/
    --font-color:rgb(0,0,0);
    
    /** layout variables **/
    --page-top-position: 85%;
    --page-width:15%;
    --bottom-bar-height: 15vh;
    --bottom-bar-color: hsla(68,39%,72%,0.8);


}

/* 01 color */
body{
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
.sidebar{
    background-color: var(--sidebar-color);
}
h1{
    /*finish */
}

/* 02 Layout */
div.explanation, div.requirements, div.participation, div.benefits{
    position: fixed;
    width: var(--page-width);
    top: var(--page-top-position);
    background-image: url(../img/newspaper1.jpg);
    
    transition: all 1s ease-out;
}

div.explanation{
    left:0%;
}
div.requirements{
    left:20%
}
div.participation{
    left:40%
}
div.benefits{
    left:60%
}

aside.sidebar{
    position: absolute;
    top:20%;
    right: 0;
    bottom: 0;
    /* adjist width/height*/

}
section.intro{
    position:fixed;
    left:30%;
    bottom:10%;
    width:30%;
    height:80%;
    background-image: url(../img/newspaper3.jpg);

    transform: rotate(-10deg) translate(-100px,0);
}

div.extra1{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:10%;
    color:var(--page-color);
}

/*create tabs for the folder*/
div.explanation.h3, div.requirements.h3, div.participation.h3, div.benefits.h3{
    margin-top: -10%;
    width: 12vw;
    background-color:bisque;
}

/* 03 Typography*/

header h2{

}
a{
    text-decoration: none;
}
li{
    list-style-type:none;
}
#design-selection h3{
    visibility: hidden;
}

#css-resources{
    display:none;
}
#design-archives{
    visibility: hidden;
}
/* hide the archive section/resource section*/


/* 04, selector practice*/
a:hover{
    font-size:2em;
}

div.explanation:hover{
    top:15vh;
    height:90vh;
}

div.requirements:hover{
    top:15vh;
    height:90vh;
}

div.participation:hover{
    top:15vh;
    height:90vh;
}

div.benefits:hover{
    top:15vh;
    height:90vh;
}

p::first-letter{
    font-size: larger;
}

p:nth-child(2n){
    color:red;
}
p:nth-child(2n+1){
    color:blue;
}
li:first-child{
    font-weight:bold;
}

h1{
    text-shadow:1px 1px 2px purple,
    -1px -1px 2px blue,
    2px -1px 2px red;
}

div.explanation.h3, div.requirements.h3, div.participation.h3, div.benefits.h3{
    border-radius:10px;
}

/** list style image **/
ul{
    list-style-image: url(../img/star.png);
}

/**transform and transition **/
section.intro h3 ~p{
    opacity:1;
    transition:all 3s ease-in-out;
}
section.intro h3:hover ~p{
    transform: scale(0.2);
    opacity:0;
}

@keyframes backandforth{
    from{transform: translate(-500px, 0);}
    25%{transform: translate(0px, 0)}
    50%{transform: translate(250px,0);}
    75%{transform: translate(375px,0);}
    100%{transform: translate(450px,0);}
}

footer{
    position: fixed;
    bottom: 1vh;
    left: 50%;
    z-index: 4;
    animation: 5s ease-in-out 1s alternate infinite backandforth;
}

/* 05 fun feature*/
body{
    /* clip-path: circle(60% at 50vw 50vh); */
}
aside.sidebar{
    clip-path: polygon(0 0, 0 60%, 40% 90%,90% 60%,90% 0);
}