/* style file by Ben C.
=============================
00: css varibale
01: color
02: 
=============================
*/

/* 00 css variable */
:root{
    --body-color: hsl(10,50%,25%,0.8);
}

/* 01 color */
body{
    background-color: var(--body-color);
}
#zen-intro{
    background-color: var(--page-color);
}
#zen-supporting{
    background-color: var(--page-color);
}
.sidebar{
    background-color: brown;
}
